.chat_window_visible {
  height: 100vh;
  padding: 2rem;
  margin: 0;
  top: 0;
  position: fixed;
  /* https://larsenwork.com/easing-gradients/ */
  background: linear-gradient(
        to right,
        hsl(197.07, 95.08%, 23.92%) 80%,
        hsla(197.07, 95.08%, 23.92%, 0.987) 81.62%,
        hsla(197.07, 95.08%, 23.92%, 0.951) 83.1%,
        hsla(197.07, 95.08%, 23.92%, 0.896) 84.5%,
        hsla(197.07, 95.08%, 23.92%, 0.825) 85.8%,
        hsla(197.07, 95.08%, 23.92%, 0.741) 87.06%,
        hsla(197.07, 95.08%, 23.92%, 0.648) 88.24%,
        hsla(197.07, 95.08%, 23.92%, 0.55) 89.42%,
        hsla(197.07, 95.08%, 23.92%, 0.45) 90.58%,
        hsla(197.07, 95.08%, 23.92%, 0.352) 91.76%,
        hsla(197.07, 95.08%, 23.92%, 0.259) 92.94%,
        hsla(197.07, 95.08%, 23.92%, 0.175) 94.2%,
        hsla(197.07, 95.08%, 23.92%, 0.104) 95.5%,
        hsla(197.07, 95.08%, 23.92%, 0.049) 96.9%,
        hsla(197.07, 95.08%, 23.92%, 0.013) 98.38%,
        hsla(197.07, 95.08%, 23.92%, 0) 100%
      );
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
  row-gap: 1rem;
  width: 800px;
  padding-right: 150px;
  opacity: 0.8;
  animation: chat_window_slide_in 0.15s;
  /* transition: opacity 0.2s ease; */
}

.chat_window_hidden {
  opacity: 0;
  display: none;
}

@keyframes chat_window_slide_in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 0.8;
  }
}

.user_interface {
  padding: 0;
  margin: 0;
  height: 1vh;
  width: 1vw;
  position: fixed;
  color: black;
  font-family: Ovo-Regular, serif;
}

.message_list {
  height: 100vh;
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;

  overflow: hidden;
  mask-image: linear-gradient(
        to top,
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.987) 8.1%,
        hsla(0, 0%, 0%, 0.951) 15.5%,
        hsla(0, 0%, 0%, 0.896) 22.5%,
        hsla(0, 0%, 0%, 0.825) 29%,
        hsla(0, 0%, 0%, 0.741) 35.3%,
        hsla(0, 0%, 0%, 0.648) 41.2%,
        hsla(0, 0%, 0%, 0.55) 47.1%,
        hsla(0, 0%, 0%, 0.45) 52.9%,
        hsla(0, 0%, 0%, 0.352) 58.8%,
        hsla(0, 0%, 0%, 0.259) 64.7%,
        hsla(0, 0%, 0%, 0.175) 71%,
        hsla(0, 0%, 0%, 0.104) 77.5%,
        hsla(0, 0%, 0%, 0.049) 84.5%,
        hsla(0, 0%, 0%, 0.013) 91.9%,
        hsla(0, 0%, 0%, 0) 100%
  );
}

.message_container {
  color: rgb(29, 29, 29);
  background: rgb(220, 229, 219);
  height: min-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: fit-content;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  margin: 1rem 0 0 0;
  border-radius: 1rem;
}

.message_icon {
  margin: 0;
  margin-right: 0.75rem;
  margin-top: 4px;
  width: content;
  display: block;
}

.message_body {
  max-width: 500px;
  display: block;
}

.message_name {
  font-family: Inter;
  font-weight: bold;
  margin: 0;
  line-height: 1.5rem;
}

.message_text {
  font-family: Inter;
  font-weight: 300;
  margin: 0;
  line-height: 1.5rem;
}