html,
body {
  padding: 0;
  margin: 0;
  height: 1vh;
  width: 1vw;
  font-family: Inter, sans-serif;
}

* {
  margin-block-start:0; margin-block-end:0;
  padding-block-start:0; padding-block-end:0;
}

#canvasNotReady {
  opacity: 0;
  height: 100vh;
  width: 100vw;
}

#canvasReady {
  opacity: 1;
  transition: opacity 3s 0s ease-in;
  height: 100vh;
  width: 100vw;
}

body {
  height: 1.5vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-family: Inter;
  font-weight: 200;
  line-height: 1rem;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

text {
  user-select: none;
  cursor: default;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #363d45;
  }
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  .description {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #363d45;
  }
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
  .description {
    color: white;
  }
}