.main {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  font-family: Inter;
  margin: 0;
  flex: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
  cursor: default;
}

.bigText_123 {
  position: fixed;
  z-index: 8;
  pointer-events: none;
}

.bigText_1 {
  opacity: 0;
  position: relative;
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 150%;
  z-index: 8;
  animation: fade_in, fade_out;
  animation-duration: 0s, 0s;
  animation-delay: 0s, 20s;
  animation-fill-mode: forwards, forwards;
  pointer-events: none;
}

.bigText_2 {
  opacity: 0;
  position: relative;
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 150%;
  z-index: 9;
  animation: fade_in, fade_out;
  animation-duration: 0s, 0s;
  animation-delay: 5s, 20s;
  animation-fill-mode: forwards, forwards;
  pointer-events: none;
}

.bigText_3 {
  opacity: 0;
  position: relative;
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 150%;
  z-index: 9;
  animation: fade_in, fade_out;
  animation-duration: 0s, 0s;
  animation-delay: 10s, 20s;
  animation-fill-mode: forwards, forwards;
  pointer-events: none;
}

.bigText_4 {
  opacity: 0;
  position: relative;
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 150%;
  z-index: 9;
  animation: fade_in, fade_out;
  animation-duration: 0s, 0s;
  animation-delay: 16s, 20s;
  animation-fill-mode: forwards, forwards;
  pointer-events: none;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}