.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  flex: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character_tree {
  opacity: 1;
}